@model LibQRDAL.Models.Book

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idbook" />
            <div class="form-group">
                <label asp-for="IdtinRead" class="control-label"></label>
                <input asp-for="IdtinRead" class="form-control" />
                <span asp-validation-for="IdtinRead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Creator" class="control-label"></label>
                <input asp-for="Creator" class="form-control" />
                <span asp-validation-for="Creator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Identifier" class="control-label"></label>
                <input asp-for="Identifier" class="form-control" />
                <span asp-validation-for="Identifier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsCorrect" /> @Html.DisplayNameFor(model => model.IsCorrect)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ErrorMessage" class="control-label"></label>
                <input asp-for="ErrorMessage" class="form-control" />
                <span asp-validation-for="ErrorMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

