@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div  class="col-md-6">
        <h2>Admin</h2>
        <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index">Goto Admin</a>
    </div>
    <div class="col-md-6">
        <h2>Old Generate Code</h2>
        
        <form method="get" asp-action="GenerateCode">
            Code:
            <input id="id" name="id" type="text" value="88046" />
            Minutes :
            <input id="minutes" name ="minutes" type="text" value="3" />
            <input type="submit" value="Generate!" />
        </form>

    </div>
    
</div>
