
@{
    ViewData["Title"] = "Register";
}

<h2>Register or Login</h2>
<form method="post">
    Email: <input type="email" name="emailUser" />
    Password: <input type="password" name="password" />
    <button type="submit" >Register or login</button>
</form>

